body {
    display: flex;
}

header {
    height: 33vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #D7DDDA;
}

footer{
    height: 33vh;
    background-color: #049296;
}

.right {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.splash {
    max-height: 100vh;
}

.formset {
    border: none;
    height: 34vh;
}

.signup {
    display: flex;
    flex-direction: column;
}

.signup-form {
    display: flex;
    align-items: center;
}