html, body {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    
}

.card-container {
    position: relative;
    width: 100%
  }
  .card-image {
    position: absolute;
    height: 100vh;
    z-index: -1;
  }
  .card-body {
    position: absolute;
    width: 100vw;
    background: black;
    opacity: 0.6;
    color: white;
    top: 8rem;
    text-align: center;
    font-size: 1.2em;
    font-family: roboto;
  }
  .card-heading {
    position: absolute;
  }
